<!DOCTYPE html>
<html lang="en">
<head>
  <title>Git Repository</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Symfony Repositories</h2>        
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class = "text-center"><strong>Id</strong></th>
        <th class = "text-center"><strong>Name</strong></th>
        <th class = "text-center"><strong>Url</strong></th>
		<th class = "text-center"><strong>Description</strong></th>
		<th class = "text-center"><strong>Watchers</strong></th>
		<th class = "text-center"><strong>Open Issue</strong></th>
		<th class = "text-center"><strong>Forks</strong></th>
      </tr>
    </thead>
    <tbody>
		{% for repo in symfonyRepo %}
				<tr>
					<td>{{repo['id']}}</td>
					<td>{{repo['name']}}</td>
					<td><a href="{{repo['html_url']}}">{{repo['html_url']}}</a></td>
					<td>{{repo['description']}}</td>
					<td>{{repo['watchers']}}</td>
					<td class="{{repo['open_issues'] == 0 ? '' : 'bg-danger'}}">{{repo['open_issues']}}</td>
					<td>{{repo['forks']}}</td>
				</tr>
		{% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
